spring:
  application:
    name:
      mynote
  profiles:
    active: dev

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:~/h2/db
    username: user
    password: 123
#    initialize: true
  h2:
    console:
      settings:
        web-allow-others: true
      enabled: true
      path: /console
  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect

security:
  basic:
    enabled: false
